#album_img:hover {
    /*zoom to 1.3x*/
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-out;
}

table a:hover {
    text-decoration: underline !important;
    color: white !important;

}

tbody>tr:hover {
    background-color: black;
    color: white !important;
}