.card-album:hover {
    transform: scale(1.02);
    transition: all 0.6s ease;
    color: white !important;
}

.card-album a:hover {
    text-decoration: underline !important;
}

.bg-opacity-dark {
    background-color: rgba(10, 10, 10, 0.75);
}