#list_card img:hover {
    transform: scale(1.02);
    transition: all 0.5s;
    cursor: pointer;
}

#list_card a:hover {
    text-decoration: underline !important;
}

#list_card :hover {
    cursor: pointer;
}